<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:site_name" content="Vynos.tech">
<meta property="og:url" content="{{url}}">

<header class="g-header">
  <div class="g-wrapper">
    <a href="#" onclick="return vynosDisplay()" class="g-header__logo" id="header__logo"><span>vynos</span></a>
  </div>
</header>

<article class="b-article">
  <div class="b-article__header">
    <div class="b-article__image" style="height: 450px;background: url({{image}}) center center;background-size: cover">
    </div>
    <div class="b-article__title">
      <div class="g-wrapper">
        <h1 class="h1">{{title}}</h1>
      </div>
    </div>
  </div>
  <div class="b-article__content">
    <div id="content" class="g-wrapper">
    </div>
  </div>
  <div class="g-wrapper">
    <div class="b-article__meta">
      <button id="buy" class="b-button b-article__read-more">Read more</button>
        <span class="b-article__for">{{priceHuman}}</span>
    </div>
    <a class="b-article__backhome" href="/">&larr; Home</a>
  </div>
</article>
<script src="/javascripts/paid.bundle.js"></script>